@import url('https://fonts.googleapis.com/css?family=Quicksand');

body{
    font-family: 'Quicksand', sans-serif;
    background-image: url("../img/bg.png");
}

#header{
    color: white;
    padding: 1.5rem 1rem;
    display: block;
    margin-bottom: 20px;
    word-break: break-all;
    background-color: #5292d2d1 !important;
}

#footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #5292d2 !important;
    color: white;
    height: 25px;
    text-align: center;
    z-index: 999;
}

.container{
    border: 1px solid rgba(0, 0, 0, 0.650);
    border-radius: 10px;
    padding: 10px;
    max-width: 500px;
    margin-bottom: 20px;
    background-color: white;
}

.container:nth-last-child(2){
    margin-bottom: 0px;
}

p{
    font-size: 3vh;
}
.custom-control-label{
    cursor: pointer;
    word-break: break-all;
}

.btn-dark{
    background-color: #90c656 !important;
    border-color: #7dad48 !important;
}
.btn-dark:hover{
    background-color: #7dad48 !important;
    border-color: #7dad48 !important;
}

#btn-div{
    background-color: white;
    border: solid;
}